{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>{{post.title}}</h1>
    <h4>Written by: {{post.author.username}}</h4>
    <h5>Published on: {{post.date.strftime('%B %d, %Y')}}</h5>
    <br>
    <p>{{post.text}}</p>

    {% if post.author == current_user %}
      <div align="right">
        <a class="btn btn-primary" href="{{url_for('blog_posts.update', blog_post_id=post.id)}}">Update</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
      </div>
    {% endif %}
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Are you sure you want to delete the post?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

          <form action="{{url_for('blog_posts.delete', blog_post_id=post.id)}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
