{% from "helpers/_formhelpers.html" import render_field %}

{% extends "base.html" %}
{% block content %}
  <form method="POST">
    {{form.hidden_tag()}}
    <div class="form-group row">
      {{form.title.label(class="col-sm-2 col-form-label")}}
      <div class="col-sm-10">
        {{ render_field(form.title,
            class="form-control",
            placeholder="Post Title")
        }}
      </div>
    </div>
    <div class="form-group row">
      {{form.text.label(class="col-sm-2 col-form-label")}}
      <div class="col-sm-10">
        {{ render_field(form.text,
            class="form-control",
            placeholder="Text")
        }}
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        {{form.submit(class="btn btn-primary")}}
      </div>
    </div>
  </form>
{% endblock %}
